# The .env file should have your own personal API Keys
# Your local .env file should be preserved through .gitignore
# Here is an example structure for your local .env file

OPENROUTER_API_KEY="<YOUR_API_KEY>"